.App {
  color: red;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  width: 100%;

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: left;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 44px;
  justify-content: center;
  margin-bottom: 5px;
  padding-left: 20px;
}

.App-body {
  flex: 1;
  overflow: hidden;
  padding: 0 20px;
}

.App_mobile .App-header {
  display: none;
}

.App_mobile .App-body-2 {
  padding: 0;
}
