@import '~common/css/reset.styl'
@import '~common/css/vars.styl'

.content
  padding Px2rem(12)
  font-family $regular

  .guide-tit
    margin-bottom Px2rem(18)
    font-size Px2rem(20)
    font-family $bold

  .item
    margin-bottom Px2rem(10)
    padding Px2rem(10)
    border 1px solid $color-border
    border-radius 2px
    word-break break-all

    .step
      margin Px2rem(10) 0
      font-size Px2rem(16)
      font-family $bold

    .des
      font-size Px2rem(12)
      line-height Px2rem(16)
